@import "tailwindcss";


@theme {
  --color-blueaccent: #1D86F5;
  --color-darkbg: #21232c;
  --color-panel: #0f0f11;
  --color-softGray: #1a1a1a;
  --color-darkBlue: #103B61;
  
  --font-family-sans: Inter, Poppins, ui-sans-serif, system-ui, sans-serif;
}